NEXT_PUBLIC_API_SERVER=https://dev.thrillers.travel
NEXT_PUBLIC_CLOUDINARY_API_KEY=255622585939791
NEXT_PUBLIC_CLOUDINARY_SECRET_KEY=qatoA4Pp6wVxmGrBazYtH-Yivuo
NEXT_PUBLIC_GOOGLE_AUTH_CLIENT_ID=138228538457-uov3l8gfte40e3ikae26b712l4s57saj.apps.googleusercontent.com
NEXT_PUBLIC_SITE_URL=https://thrillers.travel
NEXT_PUBLIC_KIWI_SERVER=https://api.tequila.kiwi.com/v2
NEXT_PUBLIC_KIWI_API_KEY=rYOYFwj1wyCns6EoHqBkWnxlPnHgATEn
NEXT_PUBLIC_KIWI_DEPOSIT_EMAIL=test@kiwi.com
NEXT_PUBLIC_KIWI_RESOURCE=https://flight-dev.thrillers.travel
