#blog {
    line-height: 1.6;
    /* font-family: "initial"; */
}
#blog img {
    width: 100%;
}
#blog p img {
    margin-top: 1rem;
}
#blog p {
    font-size: 1rem;
    line-height: 1.6;
    /* margin-bottom: 1rem; */
}
li {
    margin-bottom: 0.5rem;
}

#blog h1,
h2 {
    /* margin-top: 2rem; */
    /* margin-bottom: 1rem; */
}
#blog h4 {
    /* margin-bottom: 0.5rem; */
}
